@use "sass:math";

//<МИКСИНЫ>=================================================================================================================================================================================================================================================================================================
// Подключение миксинов ====================================================================================================================================================================================================================================================================================
@import "base/mixins";
//<ШРИФТЫ>==================================================================================================================================================================================================================================================================================================
// Подключение шрифтов через Google Fonts ==================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин Google Fonts
// &subset=cyrillic-ext - для подключения кириллических шрифтов, убираем если таковых на сайте нет
// @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

// Подключение иконочных шрифтов ============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Подключение локальных шрифтов =============================================================================================================================================================================================================================================================================
// @import "fonts";

//<ОБНУЛЕНИЕ>=================================================================================================================================================================================================================================================================================================
// Подключение обнуляющего файла =============================================================================================================================================================================================================================================================================
// @import "base/null";

// Подключение normalize.scss ================================================================================================================================================================================================================================================================================
@import 'base/normalize';

//<ПЕРЕМЕННЫЕ>================================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
// 1170 - ширина ограничивающего контейнера (по макету) + 30 отступы (на усмотрение)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты ==============================================================================================================================================================================================================================================================================================
$pc: $containerWidth + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Шрифт по умолчанию ======================================================================================================================================================================================================================================================================================
$font-family: "Roboto";
$fontSize: 14px; 
// Основные цвета ==========================================================================================================================================================================================================================================================================================
$white:#ffffff;
$black: #000000;
$blue: #0075FF;
$darkBlue: #211F54;
$lightBlue: #6E7191;
//<ОБЩИЕ ПАРАМЕТРЫ>====================================================================================================
html,
body {
	box-sizing: border-box;
	background-color: $white;
	color: $darkBlue; //цвет шрифта по умолчанию
	font-size: $fontSize;
	font-family: $font-family;
	height: 100%; //для прижатия подвала к низу
	// поведение прокрутки внутри прокручиваемого блока (плавное, резкое)
	// scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img {
    max-width: 100%;
}
// Блокировка скролла =========================================================================================================================================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Ограничивающий контейнер ===================================================================================================================================================================================================================================================================================
._container {
	max-width: $containerWidth + px;
	padding: 0 15px;
	margin: 0 auto;
}
// Прижатие "подвала" к низу ==================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

//<ТЕХНИЧЕСКИЕ КЛАССЫ>=======================================================================================================================================================================================================================================================================================
// Адаптивная фоновая картинка ================================================================================================================================================================================================================================================================================
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
// Обнуление для списков ======================================================================================================================================================================================================================================================================================
._list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
// Обнуление для кнопок =======================================================================================================================================================================================================================================================================================
._btn-reset {
	padding: 0;
	border: none;
	font-family: $font-family;
	background-color: transparent;
	cursor: pointer;
}



//<ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================

//</ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================






//<ПОДКЛЮЧЕНИЕ БАЗОВЫХ СТИЛЕЙ, ШАБЛОНОВ, ВСПОМОГАТЕЛЬНЫХ КЛАССОВ>==============================================================================================================================================================================================================================================

// Для подключения/отключения конкретных стилей смотри base.scss ==============================================================================================================================================================================================================================================
@import "base";

// Подключение стилей общих элементов проекта =================================================================================================================================================================================================================================================================
@import "common";

// Подключение стилей отдельных блоков ========================================================================================================================================================================================================================================================================
@import "header";
@import "footer";

// Подключение стилей отдельных страниц =======================================================================================================================================================================================================================================================================
@import "home";



