@use "sass:math";

//<МИКСИНЫ>=================================================================================================================================================================================================================================================================================================
// Подключение миксинов ====================================================================================================================================================================================================================================================================================
@import "base/mixins";
//<ШРИФТЫ>==================================================================================================================================================================================================================================================================================================
// Подключение шрифтов через Google Fonts ==================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин Google Fonts
// &subset=cyrillic-ext - для подключения кириллических шрифтов, убираем если таковых на сайте нет
// @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

// Подключение иконочных шрифтов ============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Подключение локальных шрифтов =============================================================================================================================================================================================================================================================================
// @import "fonts";

//<ОБНУЛЕНИЕ>=================================================================================================================================================================================================================================================================================================
// Подключение обнуляющего файла =============================================================================================================================================================================================================================================================================
// @import "base/null";

// Подключение normalize.scss ================================================================================================================================================================================================================================================================================
@import 'base/normalize';

//<ПЕРЕМЕННЫЕ>================================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
// 1170 - ширина ограничивающего контейнера (по макету) + 30 отступы (на усмотрение)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты ==============================================================================================================================================================================================================================================================================================
$pc: $containerWidth + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Шрифт по умолчанию ======================================================================================================================================================================================================================================================================================
$font-family: "Roboto";
$fontSize: 14px; 
// Основные цвета ==========================================================================================================================================================================================================================================================================================
$white:#ffffff;
$black: #000000;
$blue: #0075FF;
$darkBlue: #211F54;
$lightBlue: #6E7191;
//<ОБЩИЕ ПАРАМЕТРЫ>====================================================================================================
html,
body {
	box-sizing: border-box;
	background-color: $white;
	color: $darkBlue; //цвет шрифта по умолчанию
	font-size: $fontSize;
	font-family: $font-family;
	height: 100%; //для прижатия подвала к низу
	// поведение прокрутки внутри прокручиваемого блока (плавное, резкое)
	// scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img {
    max-width: 100%;
}
// Блокировка скролла =========================================================================================================================================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Ограничивающий контейнер ===================================================================================================================================================================================================================================================================================
._container {
	max-width: $containerWidth + px;
	padding: 0 15px;
	margin: 0 auto;
}
// Прижатие "подвала" к низу ==================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

//<ТЕХНИЧЕСКИЕ КЛАССЫ>=======================================================================================================================================================================================================================================================================================
// Адаптивная фоновая картинка ================================================================================================================================================================================================================================================================================
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
// Обнуление для списков ======================================================================================================================================================================================================================================================================================
._list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
// Обнуление для кнопок =======================================================================================================================================================================================================================================================================================
._btn-reset {
	padding: 0;
	border: none;
	font-family: $font-family;
	background-color: transparent;
	cursor: pointer;
}



//<ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================

//<CLEANING HOME>========================================================================================================================================================
.page {
	// .page__cleaning-home
	&__cleaning-home {
		margin-bottom: 240px;
		background-color: $white;
		@media (max-width:$tablet){
			margin-bottom: 150px;
		}
		@media (max-width:$mobile){
			margin-bottom: 80px;
		}
		@media (max-width:$mobileSmall){
			margin-bottom: 60px;
		}
	}
}
.cleaning-home {
	position: relative;
	// .cleaning-home__container
	&__container {
	}
	// .cleaning-home__body
	&__body {
		padding: 230px 0px 140px 0px;
		position: relative;
		z-index: 2;
		max-width: 562px;
		@media (max-width:$mobile){
			padding: 170px 0px 80px 0px;
			max-width: 450px;
		}
		@media (max-width:$mobileSmall){
			padding: 120px 0px 40px 0px; 
		}
	}
	// .cleaning-home__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 68px;
		line-height: 109%;
		color: inherit;
		margin-bottom: 22px;
		@media (max-width:$mobile){
			font-size: 44px;
		}
	}
	// .cleaning-home__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $lightBlue;
		margin-bottom: 34px;
		@media (max-width:$mobile){
			color: inherit; 
		}
	}
	// .cleaning-home__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 28px;
	}
	// .cleaning-home__button
	&__button {
	}
	// .cleaning-home__call
	&__call {
	}
	// .cleaning-home__item
	&__item {
	}
	// .cleaning-home__icon
	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
	}
	// .cleaning-home__value
	&__value {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		text-decoration: none;
		color: $lightBlue;
		@media (max-width:$mobile){
			font-size: 14px;
			color: $darkBlue; 
			line-height: 26px;
		}
	}
	// .cleaning-home__phone
	&__phone {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		color: $darkBlue;
		text-decoration: none;
		@media (max-width:$mobile){
			font-size: 20px;
		}
	}
	// .cleaning-home__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media (max-width:$mobile){
			img {
				object-position: right;
				opacity: 0.3;
			}
		}
		@media (max-width:$mobileSmall){
			img {
				object-position: center;
			}
		}
	}
}
.svg-call-dims {
	filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
	background-color: $white;
	border: 1px solid #DCDDEB;
	border-radius: 50%;
	padding: 15px;
}
.call-us {
	display: inline-grid;
	grid-template: auto auto / 72px 1fr;
	column-gap: 16px;
	text-decoration: none;
	align-items: center;
	@media (max-width:$mobile){
		grid-template: auto auto / 60px 1fr;
	}
}
//</CLEANING HOME>========================================================================================================================================================

//<OUR SERVICE>========================================================================================================================================================
.page {
	// .page__service
	&__service {
		margin-bottom: 481px;
		background-color: $white;
			@media (max-width:$tablet){
				margin-bottom: 150px;
			}
			@media (max-width:$mobile){
				margin-bottom: 80px;
			}
			@media (max-width:$mobileSmall){
				margin-bottom: 60px;
			}
	}
}
.service {
	padding: 0 0 0 0;
	background-color: $white;
	// .service__container
	&__container {
	}
	// .service__header
	&__header {
		margin-bottom: 64px;
		margin-left: auto;
		margin-right: auto;
		& > *:not(:last-child) {
			margin: 0 0 21px 0;
		}
		@media (max-width:$mobile){
			margin-bottom: 42px;
		}
	}
	// .service__body
	&__body {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 42px;
		margin-bottom: 56px;
		@media (max-width:$tablet){
			flex-wrap: wrap;
		}
	}
	// .service__item
	&__item {
		flex: 0 1 33.333%;
		@media (max-width:$tablet){
			flex: 0 1 40%;
			&:last-child {
				flex: 1 1 100%;
			}
		}
		@media (max-width:$mobile){
			flex: 1 1 100%;
		}
	}
	// .service__icon
	&__icon {
		text-align: center;
		margin-bottom: 39px;
	}
	// .service__value
	&__value {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		text-align: center;
		color: inherit;
		margin-bottom: 16px;
	}
	// .service__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color: $lightBlue;
	}
	// .service__buttons
	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 28px;
		@media (max-width:$mobile){
			 flex-wrap: wrap; 
			 flex: 1 1 100%;
			 row-gap: 12px;
		}
	}
	// .service__button-quote
	&__button-quote {
	}
	// .service__button-explore
	&__button-explore {
	}
}
.header-block {
	text-align: center;
	max-width: 644px;
	// .header-block__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		text-align: center;
		color: inherit;
		margin: 0;
		&_left {
			@media (max-width:$mobile){
				margin-bottom: 15px; 
			}			
		}
		@media (max-width:$mobile){
			font-size: 36px; 
		}
	}
	// .header-block__sub-title
	&__sub-title {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color: $lightBlue;
	}
}
.button-quote {
}
.button-explore {
}

//</OUR SERVICE >========================================================================================================================================================

//<BENEFITS>========================================================================================================================================================
.page {
	// .page__benefits
	&__benefits {
		margin-bottom: 481px;
		background-color: $white;
		@media (max-width:$tablet){
			margin-bottom: 150px;
		}
		@media (max-width:$mobile){
			margin-bottom: 80px;
		}
		@media (max-width:$mobileSmall){
			margin-bottom: 60px;
		}
	}
}
.benefits {
	background-color: $white;
	// .benefits__container
	&__container {
	}
	// .benefits__header
	&__header {
		margin: 0 auto;
		margin-bottom: 32px;
		& > *:not(:last-child) {
			margin: 0 0 21px 0;
		}
	}
	// .benefits__body
	&__body {
		margin-bottom: 40px;
		max-width: 750px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	// .benefits__item
	&__item {
		display: inline-grid;
		column-gap: 16px;
		grid-template: auto auto / 72px 1fr;
		align-items: center;
		@media (max-width: $tablet) {
			padding: 15px 0;
		}
		@media (max-width: $mobile) {
			grid-template: auto auto / 60px 1fr;
		}
	}
	// .benefits__icon
	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
		@media (max-width: $mobile) {
			// padding: 0px 15px 0px 0px;
		}
	}
	// .benefits__title
	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		color: $lightBlue;
		margin: 0;
	}
	// .benefits__text
	&__text {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		color: inherit;
	}
	// .benefits__video
	&__video {
		margin: 0 auto;
		max-width: 1012px;
		position: relative;
		padding: 0px 0px 47% 0px;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.header-block {
	// .header-block__title
	&__title {
	}
	// .header-block__sub-title
	&__sub-title {
	}
}
.svg-clients-dims,
.svg-jobs-dims,
.svg-уmployees-dims {
	background-color: $white;
	border: 1px solid #DCDDEB;
	border-radius: 50%;
	padding: 15px;
}

//</BENEFITS>========================================================================================================================================================

//<PROFESSIONAL>========================================================================================================================================================
.page {
	// .page__professional
	&__professional {
		margin-bottom: 240px;
		background-color: $white;
		@media (max-width:$tablet){
			margin-bottom: 150px;
		}
		@media (max-width:$mobile){
			margin-bottom: 80px;
		}
		@media (max-width:$mobileSmall){
			margin-bottom: 60px;
		}
	}
}
.professional {
	// .professional__container
	&__container {
	}
	// .professional__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 48px;
		@media (max-width:$mobile){
			 margin-bottom: 15px; 
		}
	}
	// .professional__body
	&__body {
		display: flex;
		justify-content: center;
		align-items: end;
		gap: 28px;
		@media (max-width:$tablet){
			 flex-wrap: wrap; 
		}
	}
	// .professional__item
	&__item {
		flex: 0 1 33.333%;
		padding: 0 38px 29px 38px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width:$tablet){
			flex: 0 1 48%;
		}
		@media (max-width:$mobile){
			flex: 1 1 100%;
		}
	}
	// .professional__icon
	&__icon {
		margin-bottom: 24px;
	}
	// .professional__value
	&__value {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 142%;
		text-align: center;
		color: inherit;
		margin-bottom: 13px;
	}
	// .professional__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color: $lightBlue;
	}
}
.header-block {
	// .header-block_left
	&_left {
		max-width: none;
	}
	// .header-block__title
	&__title {
		&_left {
			max-width: 475px;
			text-align: left;
		}
	}
	// .header-block__button
	&__button {
		@media (max-width:$mobileSmall){
			 flex: 1 1 100%; 
		}
	}
}
//</PROFESSIONAL>========================================================================================================================================================

//<AREAS>========================================================================================================================================================

//</AREAS>========================================================================================================================================================

//<COVD>========================================================================================================================================================
.page {
	// .page__covid
	&__covid {
		margin-bottom: 200px;
		@media (max-width:$tablet){
			margin-bottom: 150px;
		}
		@media (max-width:$mobile){
			margin-bottom: 80px;
		}
		@media (max-width:$mobileSmall){
			margin-bottom: 60px;
		}
	}
}
.covid {
	background-image: url('@img/covid/covid-background.jpg');
	background-color: #211F54; /* Цвет фона */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 24px;
	position: relative;
	@media (max-width:$mobileSmall){
		background-position: -350px;
	}
	// .covid__container
	&__container {
	}
	// .covid__body
	&__body {
		position: relative;
		left: 50%;
		padding: 138px 0 138px 0;
		z-index: 2;
		max-width: 562px;
		@media (max-width:$pc){
			left: 45%;
		}
		@media (max-width:$tablet){
			left: 25%;
		}
		@media (max-width:$mobile){
			padding: 80px 0px 80px 0px;
			left: 0;
		}
		@media (max-width:$mobileSmall){
			padding: 40px 0px 40px 0px; 
			max-width: none;
		}
	}
	// .covid__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 121%;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		color: $white;
		margin-bottom: 17px;
	}	
	// .covid__title
	&__title {
		margin: 0;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;		
		color: $white;
		margin-bottom: 22px;
		@media (max-width:$mobile){
			font-size: 44px;
		}
	}
	// .covid__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $white;
		margin-bottom: 34px;
	}
	// .covid__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 28px;
	}
	// .covid__button
	&__button {
	}
	// .covid__call
	&__call {
	}
	// .covid__value
	&__value {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		text-decoration: none;
		color: $white;
		@media (max-width:$mobile){
			font-size: 14px;
			color: $white; 
			line-height: 26px;
		}
	}
	// .covid__phone
	&__phone {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		color: $white;
		text-decoration: none;
		@media (max-width:$mobile){
			font-size: 20px;
		}
	}
}
.button-quote {
}
.call-us {
}
.cleaning-home {
	// .cleaning-home__icon
	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
	}
}
.svg-call-dims {
}

//</COVD>========================================================================================================================================================

//<AREAS>========================================================================================================================================================
.page {
	// .page__areas
	&__areas {
		margin-bottom: 200px;
		background-color: $white;
			@media (max-width:$tablet){
				margin-bottom: 150px;
			}
			@media (max-width:$mobile){
				margin-bottom: 80px;
			}
			@media (max-width:$mobileSmall){
				margin-bottom: 60px;
			}
	}
}
.areas {
	// .areas__container
	&__container {
	}
	// .areas__body
	&__body {
	}
}
.body {
	display: flex;
	align-items: flex-start;
	@media (max-width:$tablet){
		flex-wrap: wrap;
	}
	// .body__image
	&__image {
		flex: 0 0 53%;
		@media (max-width:$tablet){
			flex: 0 1 100%;
			text-align: center;
			margin: 0 auto;
		}
	}
	// .body__content
	&__content {
		flex: 1 1 100%;
		padding: 60px 0 60px 80px;
		@media (max-width:$tablet){
			padding: 30px 0 30px 0;
		}
	}
	// .body__top
	&__top {
	}
	// .body__list
	&__list {
	}
}
.top-body {
	// .top-body__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		color: inherit;
		margin-top: 0;
		margin-bottom: 19px;
	}
	// .top-body__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 167%;
		color: $lightBlue;
		margin-bottom: 26px;
	}
}
.list-body {
	// .list-body__list
	&__list {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 147px;
		grid-template-rows: repeat(4, auto);
		column-gap: 56px;
		row-gap: 27px;
		margin-bottom: 48px;
		@media (max-width:$mobileSmall){
			column-gap: 10px;
		}
	}
	// .list-body__item
	&__item {
		display: inline-flex;
		height: 26px;
		align-items: center;

		padding-left: 32px;
		background-image: url("@img/areas/IMAGE.svg");
		background-position: left center;
		background-size: 26px 26px;
		background-repeat: no-repeat;

		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 111%;
		color: inherit;
	}
}
.svg-item-list-dims {
}
.covid {
	// .covid__button
	&__button {
	}
}
.button-quote {
}
//</AREAS>========================================================================================================================================================

//<EXPERIENCE>========================================================================================================================================================
.page {
	// .page__experience
	&__experience {
		margin-bottom: 410px;
		background-color: $white;
			@media (max-width:$tablet){
				margin-bottom: 150px;
			}
			@media (max-width:$mobile){
				margin-bottom: 80px;
			}
			@media (max-width:$mobileSmall){
				margin-bottom: 60px;
			}
	}
}
.experience {
	// .experience__container
	&__container {
	}
	// .experience__body
	&__body {
		display: flex;
		@media (max-width:$tablet){
			flex-direction: column-reverse;
		}
	}
}
.body {
	// .body__content
	&__content {
	}
	// .body__top
	&__top {
	}
	// .body__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 250%;
		color: $lightBlue;
		margin-bottom: 26px;
	}
	// .body__experience
	&__experience {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 48px;
		@media (max-width:$mobileSmall){
			flex-wrap: wrap;
			row-gap: 15px; 
		}
	}
	// .body__item
	&__item {
		flex: 0 1 33.333%;
		@media (max-width:$tablet){
			flex: 0 1 50%;
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}
	// .body__value
	&__value {
		margin: 0;
	}
	// .body__count
	&__count {
		font-style: normal;
		font-weight: 700;
		font-size: 54px;
		line-height: 122%;
		color: inherit;
	}
	// .body__plus
	&__plus {
		font-style: normal;
		font-weight: 400;
		font-size: 54px;
		line-height: 122%;
		color: $blue;
	}
	// .body__key
	&__key {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 133%;
		color: $lightBlue;
		margin: 0;
	}
	// .body__image
	&__image {
	}
}
.top-body {
	// .top-body__title
	&__title {
	}
	// .top-body__text
	&__text {
	}
}
.covid {
	// .covid__buttons
	&__buttons {
	}
	// .covid__button
	&__button {
	}
}
.button-quote {
}
//</EXPERIENCE>========================================================================================================================================================

//<ARTICLES>========================================================================================================================================================
.page {
	// .page__articles
	&__articles {
		margin-bottom: 240px;
		background-color: $white;
			@media (max-width:$tablet){
				margin-bottom: 150px;
			}
			@media (max-width:$mobile){
				margin-bottom: 80px;
			}
			@media (max-width:$mobileSmall){
				margin-bottom: 60px;
			}
	}
}
.articles {
	// .articles__container
	&__container {
	}
	// .articles__header
	&__header {
		margin-bottom: 5px;
	}
	// .articles__body
	&__body {
		display: flex;
		gap: 28px;
		@media (max-width:$tablet){
			flex-wrap: wrap;
		}
	}
	// .articles__item
	&__item {
	}
	// .articles__img
	&__img {
		display: block;
		padding: 0 0 61% 0;
	}
}
.header-articles {
	display: flex;
	align-items: center;
	@media (max-width:$tablet){
		 flex-wrap: wrap;
		 margin-bottom: 10px; 
	}
	// .header-articles__top
	&__top {
		flex: 0 1 50%;
		@media (max-width:$tablet){
			margin-bottom: 10px;
			flex: 0 1 100%;
		}
	}
	// .header-articles__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		color: inherit;
		margin-bottom: 10px;
		margin-top: 0;
		@media (max-width:$tablet){
			text-align: center;
		}
	}
	// .header-articles__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $lightBlue;
		max-width: 470px;
		@media (max-width:$tablet){
			text-align: center;
			margin: 0 auto;
		}
	}
	// .header-articles__bottom
	&__bottom {
		display: flex;
		justify-content: flex-end;
		column-gap: 28px;
		row-gap: 10px;
		flex: 0 1 50%;
		@media (max-width:$tablet){
			flex: 0 1 100%;
			justify-content: center;
		}
		@media (max-width:$mobileSmall){
			flex-wrap: wrap;
		}
	}
}
.header-block {
	// .header-block__button
	&__button {
	}
}
.button-explore {
}
.item-articles {
	flex: 0 1 50%;
	@media (max-width:$tablet){
		 flex: 1 1 100%; 
	}
	// .item-articles__content
	&__content {
		padding: 52px 49px 50px 49px;
		background: #FFFFFF;
		border: 1px solid #EFF0F6;
		box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
		border-radius: 24px;
		margin-top: -60px;
		margin-left: 30px;
		margin-right: 30px;
		position: relative;
		z-index: 2;
		@media (max-width:$mobileSmall){
			padding: 20px 20px 20px 20px;
			margin-top: 10px; 
			margin-left: 0;
			margin-right: 0; 
		}
	}
	// .item-articles__link
	&__link {
		text-decoration: none
	}
	// .item-articles__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 142%;
		color: $darkBlue;
		margin-bottom: 17px;
		margin-top: 0;
	}
	// .item-articles__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $lightBlue;
		margin-bottom: 10px;
	}
	// .item-articles__date
	&__date {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
	// .item-articles__value
	&__value {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 111%;
		color: $darkBlue;
	}
	// .item-articles__square
	&__square {
	}
}
//</ARTICLES>========================================================================================================================================================

//<CLEANING QUOTE>========================================================================================================================================================
.page {
	// .page__cleaning-quote
	&__cleaning-quote {
		padding: 240px 0;
		background-color: #f7f9fc;
			@media (max-width:$tablet){
				padding: 150px 0;
			}
			@media (max-width:$mobile){
				padding: 80px 0;
			}
			@media (max-width:$mobileSmall){
				padding: 40px 0;
			}
	}
}
.cleaning-quote {
	// .cleaning-quote__container
	&__container {
	}
	// .cleaning-quote__body
	&__body {
		display: flex;
		column-gap: 60px;
		@media (max-width:$tablet){
			flex-wrap: wrap;
			row-gap: 30px;
		}
	}
	// .cleaning-quote__content
	&__content {
		flex: 1 1 100%;
		padding: 146px 0;
		@media (max-width:$tablet){
			padding: 70px 0;
		}
		@media (max-width:$mobileSmall){
			padding: 0;
		}
	}
	// .cleaning-quote__top
	&__top {
		&::after{
			content:'';
			display:block;
			height: 1px;
			width: 100%;
			background-color: #DCDDEB;
			margin-top: 50px;
			margin-bottom: 50px;
			@media (max-width:$tablet){
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
	// .cleaning-quote__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		color: inherit;
		margin-top: 0;
		margin-bottom: 10px;
	}
	// .cleaning-quote__subtitle
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $lightBlue;
		margin-bottom: 18px;
	}
	// .cleaning-quote__form
	&__form {
	}
}
.covid {
	// .covid__call
	&__call {
	}
	// .covid__value
	&__value {
	}
	// .covid__phone
	&__phone {
	}
}
.call-us {
}
.cleaning-quoute {
	// .cleaning-quoute__bottom
	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.cleaning-home {
	// .cleaning-home__header
	&__header {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		color: inherit;
		margin-top: 0;
		margin-bottom: 10px;
	}
}
.header-block {
	// .header-block__button
	&__button {
	}
}
.button-explore {
}
.form * {
	outline: none;
}
.form {
	flex: 0 0 673px;
	background-color: $white;
	padding: 85px 61px;
	border-radius: 20px;
	@media (max-width:$tablet){
		flex: 1 1 100%;
	}
	@media (max-width:$mobile){
		padding: 20px 15px;
	}
	textarea {
		resize: none;
	}
	// .form__body
	&__body {
	}
	// .form__column
	&__column {
		column-count: 2;
		column-gap: 32px;
		@media (max-width:$mobile){
			 column-count: 1; 
		}
	}
	// .form__item
	&__item {
		margin-bottom: 32px;
		@media (max-width:$mobileSmall){
			margin-bottom: 10px; 
		}
	}
	// .form__label
	&__label {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 167%;
		color: inherit;
		display: block;
		margin: 0px 0px 12px 0px;
	}
	// .form__input
	&__input {
		height: 72px;
		padding: 0px 20px;
		width: 100%;
		font-size: 18px;
		transition: all 0.5s ease 0s;
		border: 1px solid #EFF0F6;
		box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
		border-radius: 16px;
		&_note {
			min-height: 144px;
			padding: 20px;
			flex: 1 1 100%;
			min-width: 100%;
		}
		&_service {
			padding: 10px 20px;
		}		
		&:focus {
			border: 1px solid $blue;
		}
	}
}
//</CLEANING QOUTE>========================================================================================================================================================


//</ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================






//<ПОДКЛЮЧЕНИЕ БАЗОВЫХ СТИЛЕЙ, ШАБЛОНОВ, ВСПОМОГАТЕЛЬНЫХ КЛАССОВ>==============================================================================================================================================================================================================================================

// Для подключения/отключения конкретных стилей смотри base.scss ==============================================================================================================================================================================================================================================
@import "base";

// Подключение стилей общих элементов проекта =================================================================================================================================================================================================================================================================
@import "common";

// Подключение стилей отдельных блоков ========================================================================================================================================================================================================================================================================
@import "header";
@import "footer";

// Подключение стилей отдельных страниц =======================================================================================================================================================================================================================================================================
@import "home";



