@use "sass:math";

//<МИКСИНЫ>=================================================================================================================================================================================================================================================================================================
// Подключение миксинов ====================================================================================================================================================================================================================================================================================
@import "base/mixins";
//<ШРИФТЫ>==================================================================================================================================================================================================================================================================================================
// Подключение шрифтов через Google Fonts ==================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин Google Fonts
// &subset=cyrillic-ext - для подключения кириллических шрифтов, убираем если таковых на сайте нет
// @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

// Подключение иконочных шрифтов ============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Подключение локальных шрифтов =============================================================================================================================================================================================================================================================================
// @import "fonts";

//<ОБНУЛЕНИЕ>=================================================================================================================================================================================================================================================================================================
// Подключение обнуляющего файла =============================================================================================================================================================================================================================================================================
// @import "base/null";

// Подключение normalize.scss ================================================================================================================================================================================================================================================================================
@import 'base/normalize';

//<ПЕРЕМЕННЫЕ>================================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
// 1170 - ширина ограничивающего контейнера (по макету) + 30 отступы (на усмотрение)
$maxWidthContainer: 1220;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты ==============================================================================================================================================================================================================================================================================================
$pc: $containerWidth + px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Шрифт по умолчанию ======================================================================================================================================================================================================================================================================================
$font-family: "Roboto";
$fontSize: 14px; 
// Основные цвета ==========================================================================================================================================================================================================================================================================================
$white:#ffffff;
$black: #000000;
$blue: #0075FF;
$darkBlue: #211F54;
$lightBlue: #6E7191;
//<ОБЩИЕ ПАРАМЕТРЫ>====================================================================================================
html,
body {
	box-sizing: border-box;
	background-color: $white;
	color: $darkBlue; //цвет шрифта по умолчанию
	font-size: $fontSize;
	font-family: $font-family;
	height: 100%; //для прижатия подвала к низу
	// поведение прокрутки внутри прокручиваемого блока (плавное, резкое)
	// scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img {
    max-width: 100%;
}
// Блокировка скролла =========================================================================================================================================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Ограничивающий контейнер ===================================================================================================================================================================================================================================================================================
._container {
	max-width: $containerWidth + px;
	padding: 0 15px;
	margin: 0 auto;
}
// Прижатие "подвала" к низу ==================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

//<ТЕХНИЧЕСКИЕ КЛАССЫ>=======================================================================================================================================================================================================================================================================================
// Адаптивная фоновая картинка ================================================================================================================================================================================================================================================================================
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
// Обнуление для списков ======================================================================================================================================================================================================================================================================================
._list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
// Обнуление для кнопок =======================================================================================================================================================================================================================================================================================
._btn-reset {
	padding: 0;
	border: none;
	font-family: $font-family;
	background-color: transparent;
	cursor: pointer;
}



//<ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================

//<CLEANING HOME>========================================================================================================================================================
.page {
	// .page__cleaning-home
	&__cleaning-home {
		margin-bottom: 240px;
		background-color: $white;
		@media (max-width:$tablet){
			margin-bottom: 150px;
		}
		@media (max-width:$mobile){
			margin-bottom: 80px;
		}
		@media (max-width:$mobileSmall){
			margin-bottom: 60px;
		}
	}
}
.cleaning-home {
	position: relative;
	// .cleaning-home__container
	&__container {
	}
	// .cleaning-home__body
	&__body {
		padding: 230px 0px 140px 0px;
		position: relative;
		z-index: 2;
		max-width: 562px;
		@media (max-width:$mobile){
			padding: 170px 0px 80px 0px;
			max-width: 450px;
		}
		@media (max-width:$mobileSmall){
			padding: 120px 0px 40px 0px; 
		}
	}
	// .cleaning-home__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 68px;
		line-height: 109%;
		color: inherit;
		margin-bottom: 22px;
		@media (max-width:$mobile){
			font-size: 44px;
		}
	}
	// .cleaning-home__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		color: $lightBlue;
		margin-bottom: 34px;
		@media (max-width:$mobile){
			color: inherit; 
		}
	}
	// .cleaning-home__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 28px;
	}
	// .cleaning-home__button
	&__button {
	}
	// .cleaning-home__call
	&__call {
		// @media (max-width:$mobile){
		// 	background-color: $blue; 
		// 	border-radius: 14px;
		// 	color: $white;
		// 	padding: 10px 0px 5px 15px;

		// 	display: inline-grid;
		// 	grid-template: auto auto / 30px 1fr;
		// 	max-width: 290px;
		// 	column-gap: 16px;
		// 	.cleaning-home__value {
		// 		color: $white;
		// 	}
		// 	.cleaning-home__phone {
		// 		color: $white;
		// 	}
		// 	.svg-call-dims {
		// 		border: none;
		// 	}
		// }
	}
	// .cleaning-home__item
	&__item {
	}
	// .cleaning-home__icon
	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
	}
	// .cleaning-home__value
	&__value {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 112%;
		letter-spacing: 1.6px;
		text-transform: uppercase;
		text-decoration: none;
		color: $lightBlue;
		@media (max-width:$mobile){
			font-size: 14px;
			color: $darkBlue; 
			line-height: 26px;
		}
	}
	// .cleaning-home__phone
	&__phone {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		color: $darkBlue;
		text-decoration: none;
		@media (max-width:$mobile){
			font-size: 20px;
		}
	}
	// .cleaning-home__image
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media (max-width:$mobile){
			img {
				object-position: right;
				opacity: 0.3;
			}
		}
		@media (max-width:$mobileSmall){
			img {
				object-position: center;
			}
		}
	}
}
.svg-call-dims {
	filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
	background-color: $white;
	border: 1px solid #DCDDEB;
	border-radius: 50%;
	border-color: #DCDDEB;
	padding: 15px;
}
.call-us {
	display: inline-grid;
	grid-template: auto auto / 72px 1fr;
	column-gap: 16px;
	text-decoration: none;
	@media (max-width:$mobile){
		grid-template: auto auto / 60px 1fr;
	}
}
//</CLEANING HOME>========================================================================================================================================================

//<OUR SERVICE>========================================================================================================================================================
.page {
	// .page__service
	&__service {
		margin-bottom: 481px;
	}
}
.service {
	padding: 0 0 0 0;
	background-color: $white;
	// .service__container
	&__container {
	}
	// .service__header
	&__header {
		margin-bottom: 64px;
		margin-left: auto;
		margin-right: auto;
		@media (max-width:$mobile){
			margin-bottom: 42px;
		}
	}
	// .service__body
	&__body {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 42px;
		margin-bottom: 56px;
		@media (max-width:$tablet){
			flex-wrap: wrap;
		}
	}
	// .service__item
	&__item {
		flex: 0 1 33.333%;
		@media (max-width:$tablet){
			flex: 0 1 40%;
			&:last-child {
				flex: 1 1 100%;
			}
		}
		@media (max-width:$mobile){
			flex: 1 1 100%;
		}
	}
	// .service__icon
	&__icon {
		text-align: center;
		margin-bottom: 39px;
	}
	// .service__value
	&__value {
		font-style: normal;
		font-weight: 700;
		font-size: 28px;
		line-height: 129%;
		text-align: center;
		color: inherit;
		margin-bottom: 16px;
	}
	// .service__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color: $lightBlue;
	}
	// .service__buttons
	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 28px;
		@media (max-width:$mobile){
			 flex-wrap: wrap; 
			 flex: 1 1 100%;
			 row-gap: 12px;
		}
	}
	// .service__button-quote
	&__button-quote {
	}
	// .service__button-explore
	&__button-explore {
	}
}
.header-block {
	text-align: center;
	max-width: 644px;
	& > *:not(:last-child) {
        margin: 0 0 21px 0;
    }
	// .header-block__title
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 121%;
		text-align: center;
		color: inherit;
		@media (max-width:$mobile){
			font-size: 36px; 
		}
	}
	// .header-block__sub-title
	&__sub-title {
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 143%;
		text-align: center;
		color: $lightBlue;
	}
}
.button-quote {
}
.button-explore {
}

//</OUR SERVICE >========================================================================================================================================================

//<BENEFITS>========================================================================================================================================================

//</BENEFITS>========================================================================================================================================================

//</ОСНОВНОЙ БЛОК>==============================================================================================================================================================================================================================================================================================






//<ПОДКЛЮЧЕНИЕ БАЗОВЫХ СТИЛЕЙ, ШАБЛОНОВ, ВСПОМОГАТЕЛЬНЫХ КЛАССОВ>==============================================================================================================================================================================================================================================

// Для подключения/отключения конкретных стилей смотри base.scss ==============================================================================================================================================================================================================================================
@import "base";

// Подключение стилей общих элементов проекта =================================================================================================================================================================================================================================================================
@import "common";

// Подключение стилей отдельных блоков ========================================================================================================================================================================================================================================================================
@import "header";
@import "footer";

// Подключение стилей отдельных страниц =======================================================================================================================================================================================================================================================================
@import "home";



